@model List<DAO.KhaoThiView>

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Khảo Thí</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Học phần</th>
                            <th>Lớp</th>
                            <th>Số bài</th>
                            <th>Số giờ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count > 0)
                        {
                            for (int i = 0; i < Model.Count; i++)
                            {
                                <tr class="bg-gray-500 font-weight-bold">
                                    <td>@(i + 1)</td>
                                    <td colspan="3">@Model[i].TenLoaiKhaoThi</td>
                                    <td>@Model[i].TongSoGio.ToString("N0")</td>
                                </tr>
                                for (int j = 0; j < Model[i].chiTiet.Count; j++)
                                {
                                    <tr>
                                        <td class="pl-5">@(j + 1)</td>
                                        <td>@Model[i].chiTiet[j].TenKhaoThi</td>
                                        <td>@Model[i].chiTiet[j].TenLop</td>
                                        <td>@Model[i].chiTiet[j].SoBai</td>
                                        <td>@Model[i].chiTiet[j].SoGio</td>
                                    </tr>
                                }
                            }
                            <tr class="bg-gray-500 font-weight-bold">
                                <td colspan="4">Tổng số</td>
                                <td>@Model.Sum(x => x.TongSoGio).ToString("N0")</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

